/* TODO: layout and display */
.editor {
  margin: 1rem;
}
.toolset, .textarea {
  border: 1px solid #b4b4b4;
  width: 600px;
}
.toolset {
  padding: .4rem;
  background-color: #eeeeee;
  border: 1px solid #b4b4b4;
  border-bottom: none;
  line-height: 1.8;
}
.button {
  background-color: #eeeeee;
  border: 1px solid #b4b4b4;
  padding: 2px 4px;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
}
.button:hover {
  background-color: #d4d4d4;
  border: 1px solid #696969;
}
.button:active {
  background-color: #eeeeee;
  border: 1px solid #b4b4b4;
}
.textarea {
  height: 200px;
  padding: .5rem;
  overflow-y: scroll;
  outline: none;
  transition: all .04s ease-in;
}
.textarea:hover, .textarea:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  border: .2rem solid #b4b4b4;
  transition: all .1s ease-in;
  cursor: pointer;
}
.textarea:focus {  
  border: .2rem solid #333;
}